.p-button,
.p-button:visited {
    cursor: pointer;
    color: var(--white);
    background: var(--purple);
    text-align: center;
    border-radius: var(--border-radius);
    width: fit-content;
    min-width: 240px;
    text-transform: uppercase;
    padding: 0 2rem;
    border: none;
    font-size: var(--font-size-5);
    line-height: var(--forms-input-height);
    height: var(--forms-input-height);
    letter-spacing: 0.5px;
    opacity: 1;
    transition: var(--transition);
    i {
        font-size: var(--font-size-4);
    }
    &:hover,
    &:enabled:hover {
        color: var(--white);
        background: var(--purple);
        opacity: var(--opacity-on-hover);
    }
}

.p-button.full-width {
    width: 100%;
}

.p-button.fit-width {
    width: fit-content;
    min-width: fit-content;
}

.p-button.small {
    line-height: 35px;
    height: 35px;
    text-transform: capitalize;
    min-width: fit-content;
}
