.Swift {
    transition: var(--transition);
    background: hsla(140, 39%, 78%, 1);
    background: linear-gradient(45deg, #b1ddc0 11%, #ffd1e6 48%, #cce1ff 71%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(
        45deg,
        hsla(140, 39%, 78%, 1) 11%,
        hsla(333, 100%, 91%, 1) 48%,
        hsla(215, 100%, 90%, 1) 71%,
        hsla(0, 0%, 100%, 1) 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        hsla(140, 39%, 78%, 1) 11%,
        hsla(333, 100%, 91%, 1) 48%,
        hsla(215, 100%, 90%, 1) 71%,
        hsla(0, 0%, 100%, 1) 100%
    );

    p,
    h3 {
        color: var(--black);
    }
}

.Light {
    transition: var(--transition);
    background: var(--white);
    p,
    h3 {
        color: var(--black);
    }
}

.Dark {
    transition: var(--transition);
    background: var(--black);
    p,
    h3 {
        color: var(--white);
    }
}

.Contrast {
    transition: var(--transition);
    background: #ffff00;
    p,
    h3 {
        color: var(--black);
    }
}
