@mixin typeface($type, $size) {
  font-family: var(--font-family-#{$type});
  letter-spacing: 1;
  font-weight: var(--font-weight-#{$type});
  // line-height: var(--line-height-#{$size});
  font-size: var(--font-size-#{$size});
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1,
.like-h1 {
  @include typeface(header, 11);
  font-weight: 300;
  letter-spacing: 0.5px;
  @media all and (min-width: $medium) {
    @include typeface(header, 14);
    font-weight: 300;
  }
}

h2,
.like-h2 {
  @include typeface(header, 8);
  font-weight: 400;
  letter-spacing: 0.5px;
  @media all and (min-width: $medium) {
    @include typeface(header, 10);
    font-weight: 400;
  }
}

h3,
.like-h3 {
  @include typeface(primary, 6);
  letter-spacing: 0.5px;
  @media all and (min-width: $medium) {
    @include typeface(primary, 8);
    letter-spacing: 0.5px;
  }
}

h4,
.like-h4 {
  @include typeface(primary, 7);
  font-weight: 600;
  letter-spacing: 0px;
}

h5,
.like-h5 {
  @include typeface(primary, 4);
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: var(--font-size-4);
  @media all and (min-width: $medium) {
    @include typeface(primary, 6);
    font-weight: 500;
    line-height: var(--font-size-6);
  }
}

h6,
.like-h6 {
  @include typeface(primary, 4);
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: var(--font-size-4);
  @media all and (min-width: $medium) {
    @include typeface(primary, 6);
    font-weight: 600;
    line-height: var(--font-size-6);
  }
}

p,
.like-p,
li,
td {
  color: var(--text-color);
  @include typeface(primary, 5);
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.5;
  @media all and (min-width: $medium) {
    @include typeface(primary, 6);
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.5;
  }
}

p.small {
  font-size: var(--font-size-4);
  @media all and (min-width: $medium) {
    font-size: var(--font-size-5);
  }
}
