@import 'theme';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@import 'typography';
@import 'forms';
@import 'buttons';
@import 'cards';
@import 'transitions';

html,
body {
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: none;
  border-bottom: solid 1px transparent;
  transition: var(--transition);

  &:hover {
    border-bottom: solid 1px var(--link-color);
  }

  &.plain {
    border-bottom: none;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

  &.gray {
    color: var(--gray);
  }
}

hr {
  border: none;
  border-top: solid 1px var(--light-gray);
}

table {
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    padding: 0.75rem;
  }

  tr {
    vertical-align: middle;
    &.top {
      vertical-align: top;
    }
    border-bottom: solid 1px var(--gray-200);
  }
}

.container {
  max-width: 1460px;
  margin: auto;
}

.container-gray {
  padding: 1rem;
  margin: 1rem;
  background: var(--light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.width200 {
  width: 200px;
}

.width400 {
  width: 100%;
  max-width: 400px;
}

.changes-saved-toast {
  position: fixed;
  bottom: 0;
  right: 25px;
  width: 350px;
  z-index: 1000;
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.green {
  color: var(--green);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red) !important;
}

.tag {
  width: fit-content;
  min-width: 50px;
  text-align: center;
  background: var(--purple);
  color: var(--white);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size-3);
  font-weight: 400;
  text-transform: uppercase;
  @media all and (min-width: $medium) {
    font-size: var(--font-size-4);
  }
}

.tag.large {
  height: 50px;
  line-height: 50px;
  padding: 0 1rem;
}

// prime vue overrides

.cursor-pointer,
.clickable {
  cursor: pointer;
  opacity: 1;
  transition: var(--transition);
  &:hover {
    opacity: var(--opacity-on-hover);
  }
}

.p-progress-spinner-circle {
  stroke: var(--purple) !important;
}

.p-message {
  border-radius: 10px;
}

.p-avatar img {
  object-fit: cover;
}

.grid {
  margin: 0 -15px;
}
.grid > [class*='col'] {
  padding: 0 15px;
}

.divider,
.p-divider.p-divider-horizontal:before {
  border-top: solid 1px var(--gray-200);
}

.divider-bottom {
  border-bottom: solid 1px var(--gray-200);
}

.p-dialog .p-dialog-header {
  padding-bottom: 0;
}

.p-accordion-header-text {
  font-weight: bold;
}
.p-accordion-header-link {
  transition: var(--transition) !important;
  &:hover {
    background: var(--light-gray) !important;
  }
}
